<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<link rel="stylesheet" href="style.css">

<body>
  {{>leaderboardHeader}}
  <br />
  <center>
    <h2>{{title}}</h2>
  </center>
  <h2>{{message}}</h2><br/>
  <form action={{api1}}  method="POST" >
    <button type="submit" size="25" class="asc_button" style='margin-right:16px' >Asc</button>
  </form>
  <form action="/pageLeaderboard" method="GET">
    <button type="submit" size="25" class="points_button" style='margin-left:16px'>Points</button>
  </form>
  <form action={{api2}} method="POST" >
    <button type="submit" size="25" class="desc_button" style='margin-right:16px'>Desc</button>
  </form>
  <form action="/averageLeaderboard" method="POST">
    <button type="submit" size="25" class="average_button" style='margin-left:16px'>Average</button>
  </form>
  <br/>
  <br/>
  <table id="customers">
    <tr>
      <th>UserName</th>
      <th>Rank</th>
      <th>{{titlel}}</th>
    </tr>
    {{#each user}}
    <tr>
      <td>{{this.name}} </td>
      <td>{{this.ranking}}</td>
      <td>{{this.points}}</td>
    </tr>
    {{/each}}
  </table>
</body>

</html>